body{
    padding-top: 70px;
}

.sectionHeader
{
    font-weight:bold;
    width: 16.666666666666664%;
    float: left;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
}

.arrayFrame
{
    border-radius: 4px;
    border: 1px solid #CCC;
    overflow:hidden;
    padding: 12px;
    float: left;
    width: 100%;
}

.objectFrame {
    border-left: 1px solid #CCC;
    overflow:hidden;
    padding: 12px 12px 12px 0;
    float: left;
    width: 100%;
}


pre {
    border: 1px solid #CCC;
}

.code {
    border: 1px solid #CCC;
}
.info {
}

.chapter-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.arrayActions
{
    padding-top: 14px;
}

.arrayItemHeader
{
    overflow: hidden;
    border-bottom: 1px solid #999;
    margin-bottom: 14px;
}

.arrayItemHeader .glyphicon{
    margin-right: 5px;
}

.arrayItemActions
{
    float:right;
    margin-top: 14px;
}

.nestedSortable-list {
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.nestedSortable-list .nestedSortable-list {
    padding-left: 30px;
}
.nestedSortable-item, .nestedSortable-placeholder {
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	min-height: 20px;
	line-height: 20px;
}
.nestedSortable-handle {
    cursor: move;
    display: block;
    margin: 5px 0;
    padding: 8px 12px;
    color: #999;
    text-decoration: none;
    font-weight: bold;

    float: left;

}
.nestedSortable-handle:hover {
    color: #333;
}
.nestedSortable-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nestedSortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}

